.mfx-text-field {
	-mfx-main: white;
	-fx-background-color: #353940;
	-fx-border-color: none;
	-fx-text-fill: white;
	-fx-padding: 7;
}

.mfx-text-field .floating-text {
	-fx-text-fill: white;
	-fx-background-color: none;
}

.login-active {
    -fx-background-color: #5767ea;
    -fx-border-color: none;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #444851;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: #444851;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #353940;
    -fx-background-radius: 4;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #444851;
    -fx-background-insets: 0;
}

.actionBar {
   -fx-border-style: solid inside;
   -fx-border-width: 0 0 2 0;
   -fx-border-color: #444851;
}

.text-field.input-message {
    -fx-background-color: #36393f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #72767d;
    -fx-border-color: #72767d;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.text-field.input-message:focused {
    -fx-border-color: #5767ea;
}

.message {
    -fx-padding: 5;
}

.message-user {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.message-content {
    -fx-text-fill: white;
}