.split-pane > .split-pane-divider {
    -fx-background-color: #444851;
}

.scroll-bar .track {
    -fx-background-color: #444851;
}

.scroll-bar .thumb {
    -fx-background-color: #353940;
    -fx-background-radius: 4;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #444851;
    -fx-background-insets: 0;
}